
.pre_junior {
    text-decoration: none;
    color: red;
    margin: 10px;
}

.pre_junior:hover {
    color: greenyellow;
}

.pre_junior:active {
    color: blue;
}

.block {
    border-radius: 6px;
    width: 25px;
    height: 25px;
    margin: 15px;
    background: #99ff99;
}

.navigation {
    color:cyan;
}

.navigation:active {
    color: coral;
}


.header {
    display: flex;
    width: 620px;
    transition-duration: 3000ms;
    transform: translate(-530px);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: center;
}

.header:hover {
    transition-duration: 1000ms;
    transform: translate(0px);
}

.junior {
    color: coral;
    margin-top: 20px;
}

.junior:hover {
    color: greenyellow;
}

.junior:active {
    color: blue;
}

.junior_plus {
    color: deepskyblue;
    margin-top: 20px;
}

.junior_plus:hover {
    color: greenyellow;
}

.junior_plus:active {
    color: blue;
}

.junior_HW3 {
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom:20px;
}

.junior_HW3:hover {
    color: greenyellow;
}

.junior_HW3:active {
    color: blue;
}
.rotate {
    width: 25px;
    height: 25px;
    animation: rotation infinite 3s linear;


}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.click {
    margin-right: 30px;
    color: white;
}
