
.pre_junior {
    text-decoration: none;
    color: red;
    margin: 10px;
}

.pre_junior:hover {
    color: greenyellow;
}

.pre_junior:active {
    color: blue;
}

.block {
    border-radius: 6px;
    width: 25px;
    height: 25px;
    margin: 25px;
    background: #99ff99;
}

.navigation {
    margin-top: 25px;
    display: grid;
    width: 100px;
    opacity: 1;
    filter: alpha(Opacity=70);
    /*box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);*/
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, whitesmoke 20%, deepskyblue 40%, whitesmoke 60%, greenyellow 80%);
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    justify-content: start;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}


.header {
    display: flex;
    width: 590px;
    transition-duration: 3000ms;
    transform: translate(-500px);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: baseline;
}

.header:hover {
    transition-duration: 1000ms;
    transform: translate(0px);
}

.junior {
    color: coral;
    margin-top: 50px;
}

.junior:hover {
    color: greenyellow;
}

.junior:active {
    color: blue;
}

.junior_plus {
    color: deepskyblue;
    margin-top: 50px;
}

.junior_plus:hover {
    color: greenyellow;
}

.junior_plus:active {
    color: blue;
}

.junior_HW3 {
    color: cornflowerblue;
    margin-top: 25px;
    margin-bottom: 20px;
}

.junior_HW3:hover {
    color: greenyellow;
}

.junior_HW3:active {
    color: blue;
}

.HW4 {
    color: darkkhaki;
    margin-top: 50px;
    margin-bottom: 20px;
}

.HW4:hover {
    color: cornflowerblue;
}

.HW4:active {
    color: greenyellow;
}

.HW6 {
    color: cyan;
    margin-top: 50px;
}

.HW6:hover {
    color: cornflowerblue;
}

.HW7 {
    color: darkviolet;
    margin-top: 50px;
}

.HW7:hover {
    color: cornflowerblue;
}

.HW9 {
    color: deeppink;
    margin-top: 50px;
}
.HW9:hover {
    color: cornflowerblue;
}

.Page404 {
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
    color: darkorange;
}

.Page404:hover {
    color: greenyellow;
}

.home_page {
    color: coral;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}


.rotate {
    width: 25px;
    height: 25px;
    animation: rotation infinite 3s linear;


}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.click {
    margin-right: 30px;
    color: white;
}
