.homeworks_9 {
    display: grid;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}

.stringTime {
    color: white;
}

.stringDate {
    color: greenyellow;
}
.container_clock {
    display: grid;
    justify-content: center;
}